In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
saved_model = pickle.load(open('car_price_elasticnet.pickle', 'rb'))

In [3]:
reg = saved_model[0]
vectorizer = saved_model[1]
one_hot_encoder = saved_model[2]
scaler = saved_model[3]
feature_name = saved_model[4]
numerical_feature = saved_model[5]
ordinal_feature = saved_model[6]
nominal_feature = saved_model[7]

In [4]:
feature_name

['name', 'year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']

In [5]:
name = 'Maruti Celerio VXI AT'
year = 2017
km_driven = 32670
fuel = 'Petrol'
seller_type = 'Dealer'
transmission = 'Automatic'
owner = 'First Owner'

In [6]:
incoming_data = pd.DataFrame(np.array([[name, year, km_driven, fuel, seller_type, 
                                        transmission, owner]]), 
                             columns=feature_name)

incoming_data

,name,year,km_driven,fuel,seller_type,transmission,owner
0,Maruti Celerio VXI AT,2017,32670,Petrol,Dealer,Automatic,First Owner

### Count Vectorization

In [7]:
corpus_incoming = incoming_data['name'].tolist()
cnt_vec_incoming = vectorizer.transform(corpus_incoming).toarray()

In [8]:
cnt_vec_feature_name = ['con_' + feature for feature in vectorizer.get_feature_names()]

In [9]:
incoming_data[cnt_vec_feature_name] = cnt_vec_incoming
incoming_data.drop('name', axis=1, inplace=True)

### ===== Ordinal Encoding & One Hot Encoding =====

In [10]:
# print('numerical_feature :', numerical_feature)
# print('ordinal_feature :', ordinal_feature)
# print('nominal_feature :', nominal_feature)

### ### Ordinal Encoding

### One Hot Encoding

In [11]:
one_hot_feature = []
for i, feature in enumerate(nominal_feature):
    for cate in one_hot_encoder.categories_[i]:
        one_hot_feature_name = str(feature) + '_' + str(cate)
        one_hot_feature.append(one_hot_feature_name)
        
incoming_data[one_hot_feature] = one_hot_encoder.transform(incoming_data[nominal_feature])
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [12]:
incoming_data

,year,km_driven,con_05,con_0l,con_10,con_100,con_110,con_110ps,con_116,con_140,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2017,32670,0,0,0,0,0,0,0,0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

### Feature Scaling

In [13]:
incoming_data_scaled = scaler.transform(incoming_data)

### Prediction

In [14]:
predicted_target = reg.predict(incoming_data_scaled)

In [15]:
predicted_target

array([576624.14357994])