In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
saved_model = pickle.load(open('bike_sharing_model.pickle', 'rb'))

In [3]:
reg = saved_model[0]
one_hot_encoder = saved_model[1]
feature_name = saved_model[2]
numerical_feature = saved_model[3]
ordinal_feature = saved_model[4]
nominal_feature = saved_model[5]

In [4]:
feature_name

['season',
 'yr',
 'mnth',
 'holiday',
 'weekday',
 'workingday',
 'weathersit',
 'temp',
 'hum',
 'windspeed']

In [5]:
season = 'FALL'
yr = 2012
mnth = 'AUG'
holiday = 'NO HOLIDAY'
weekday = 'TUE'
workingday = 'WORKING DAY'
weathersit = 'MISTY'
temp = 26.584151
hum = 70.3750
windspeed = 7.832836

In [6]:
incoming_data = pd.DataFrame(np.array([[season, yr, mnth, holiday, 
                                        weekday, workingday, weathersit, 
                                        temp, hum, windspeed]]), 
                             columns=feature_name)

incoming_data

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,hum,windspeed
0,FALL,2012,AUG,NO HOLIDAY,TUE,WORKING DAY,MISTY,26.584151,70.375,7.832836

In [7]:
print('numerical_feature :', numerical_feature)
print('ordinal_feature :', ordinal_feature)
print('nominal_feature :', nominal_feature)

numerical_feature : ['yr', 'temp', 'hum', 'windspeed']
ordinal_feature : []
nominal_feature : ['season', 'mnth', 'holiday', 'weekday', 'workingday', 'weathersit']

### ### Ordinal Encoding

### One Hot Encoding

In [8]:
one_hot_feature = []
for i, feature in enumerate(nominal_feature):
    for cate in one_hot_encoder.categories_[i]:
        one_hot_feature_name = str(feature) + '_' + str(cate)
        one_hot_feature.append(one_hot_feature_name)
        
incoming_data[one_hot_feature] = one_hot_encoder.transform(incoming_data[nominal_feature])
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [9]:
incoming_data

,yr,temp,hum,windspeed,season_FALL,season_SPRING,season_SUMMER,season_WINTER,mnth_APR,mnth_AUG,...,weekday_SAT,weekday_SUN,weekday_THU,weekday_TUE,weekday_WED,workingday_NO WORKING DAY,workingday_WORKING DAY,weathersit_GOOD,weathersit_MISTY,weathersit_RAIN/SNOW/STORM
0,2012,26.584151,70.375,7.832836,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

### Prediction

In [10]:
predicted_target = reg.predict(incoming_data)

In [11]:
predicted_target

array([6462.84158294])